:root {
  --color-text: #4d4e53;
  --color-background: #ffffff;
  --color-text-stronger: black;
  --color-border: #4d4e53;
  --color-code-background: #e7e7e7;
}

@font-face {
    font-family: Open-Sans;
    src: url("fonts/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  min-width: 290px;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Open-Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  border-right: 1px solid;
  border-color: var(--color-border);
  overflow-x: hidden;
  white-space: nowrap;
}

#main-doc {
    overflow-wrap: break-word;
}

h1 {
  font-size: 1.8em;
  color: var(--color-text-stronger);
  margin: 20px;
}

h2 {
  font-size: 1.4em;
  color: var(--color-text-stronger);
  padding: 27px 0 0 0;
}

p {
  margin: 5px 0;
}

#navbar ul {
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: var(--color-border);
  border-top: 1px solid;
  list-style: none;
}

#navbar a {
  display: block;
  padding: 5px 20px;
  color: var(--color-text);
  text-decoration: none;
}

#navbar li:last-child {
  border-bottom: 1px solid;
}

#main-doc {
  margin-left: 270px;
  padding: 0 20px 20px;
}

code {
  display: block;
  text-align: left;
  position: relative;
  line-height: 2;
  background-color: var(--color-code-background);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

section li {
  margin: 5px 0 0 20px;
}

@media only screen and (max-width: 700px) {
  #navbar ul {
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 190px;
  }

  #navbar li:first-child {
    border-top: none;
  }

  #navbar li:last-child {
    border-bottom: none;
  }

  #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 275px;
    border: none;
  }

  #main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 280px;
  }
}
